.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
    max-width: 1100px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.headerWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerWrap:hover {
    cursor: pointer;
}

.headerLogo {
    width: 50px;
    height: 40px;
    filter: var(--logo-filter);
}

.headerTitle {
    font-size: 23px;
    font-weight: bold;
    margin: 0 12px;
}

.themeToggle {
    border: none;
    background-color: transparent;
    color: var(--text-color-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: right;
}

.rank {
    color: var(--primary-color);
}

.footerGit {
    text-decoration: none;
    color: unset;
    font-style: italic;
    font-weight: 700;
}

.footerGit:hover {
    color: var(--primary-color);
}

.footerInfo {
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
}
